*body{
	margin:0;
	padding:0;
	box-sizing: border-box;
}






/* Navbar container */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid  #00000;
  padding: 10px;
}

/* Navbar brand link */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navbar links */
.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #333;
  font-size: 1.2rem;
  margin-right: 15px;
}

/* Active link */
.nav-item.active .nav-link {
  font-weight: bold;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-left:30px
}

.dropdown-item {
  color: #333;
  font-size: 1.2rem;
  padding: 5px 20px;
}

.dropdown-divider {
  border-top: 1px solid #ddd;
  margin: 5px 0;

}

/* Search form */
.form-control {
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 10px 15px;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}





h1{
	text-align:center;
	font-weight:900;
	margin-top:25px
}


.container{
	display: flex;
	justify-content: space-between;
	padding:30px

}

.outer-box {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  background-color:gray;
  border: 2px solid black;
  overflow:hidden;
  margin:5px;

}

.inner-box {
  display: flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  background-color:brown;
}
.outer-box .text{
  color: white;
}

#para1{
	margin-top:37px;
	padding:7px;

}
#para2{
	margin-top:37px;
	padding:7px;

}
#para3{
	margin-top:37px;
	padding:7px;

}



@media screen and (min-width: 992px) {
  .outer-box {
    width: 400px;
    height: 200px;
  }
  
  .inner-box {
    width: 100px;
    height: 35px;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-wrap: wrap;
  }
  
  .outer-box {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .outer-box:last-child {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .outer-box {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
